<link href="../css/header.css" rel="stylesheet">
<script type="text/javascript " src="../js/header.js"></script>

<div class="row header-box">
  <div class="header-container">
    <nav class="main-header">
      <div class="grid-item1 itm1">
        <a href="/"><img src="../images/logo.png" width="115px" height="50px"></a>
      </div>
      <div class="grid-item1 itm2">
        <a class="link link1" href="/">Home</a>
        <a class="link link2" href="/product">Product</a>
      </div>
      <div class="grid-item1 itm3">
        <div class="sign-register">
          <span><a class="s-r1" href="/signin">Sign in</a></span>
          <span><a class="s-r2" href="/register">Register</a></span>
        </div>
        <a href="/cart" class="cart-btn"><span><img class="cart-icon" src="../images/cart.svg" width="17px"
              height="13px">
            {{#if storeProducts.length}}{{storeProducts.length}}{{else}}0{{/if}} item</span></a>
      </div>
    </nav>
  </div>
</div>

<div id="myCart">
  <div class="cart-details">
    <span class="cart-sub-details cart-sub1">My Cart (1 item)</span>
    <span class="cart-sub-details cart-sub2" onclick="closeCart()">x</span>
  </div>
</div>
<script>

  function openCart() {
    document.getElementById("myCart").style.display = "block";
  }

  function closeCart() {
    document.getElementById("myCart").style.display = "none";
  }

</script>