<link href="./css/home.css" rel="stylesheet">

{{> header}}

{{!-- using css grid --}}

{{!-- <div class="row">
  <div class="content-container">
    <div class="content-list1">
      <div class="description des-left">
        <img src="./images/fruits.png" width="150px" height="100px">
      </div>
      <div class="description des-right des-center">
        <span class="item-description item-des-1">Fruits & Vegetables</span>
        <span class="item-description item-des-2">A variety of fresh fruits and vegetables.</span>
        <span class="item-description item-des-3">Explore fruit-and-veg</span>
      </div>
    </div>
    <div class="content-list2">
      <div class="description des-left des-center">
        <span class="item-description item-des-1">Bakery Cakes and Dairy</span>
        <span class="item-description item-des-2">The best cupcakes,cookies,cakes,pies,cheesecakes,fresh
          bread,biscotti,muffins,bagels,fresh coffee,milk and more.</span>
        <span class="item-description item-des-3">Explore bakery-cakes-dairy</span>
      </div>
      <div class="description des-right">
        <img src="./images/bakery.png" width="150px" height="100px">
      </div>
    </div>
    <div class="content-list3">
      <div class="description des-left">
        <img src="./images/beverages.png" width="150px" height="100px">
      </div>
      <div class="description des-right des-center">
        <span class="item-description item-des-1">Beverages</span>
        <span class="item-description item-des-2">Our beverages department will ensure your fridge is always fully
          stocked.Shop for sada,juice,beer and more.</span>
        <span class="item-description item-des-3">Explore beverages</span>
      </div>
    </div>
    <div class="content-list4">
      <div class="description des-left des-center">
        <span class="item-description item-des-1">Beauty and Hygiene</span>
        <span class="item-description item-des-2">Buy beauty and personal care products online in india best
          prices.</span>
        <span class="item-description item-des-3">Explore beauty-hygiene</span>
      </div>
      <div class="description des-right">
        <img src="./images/beauty.png" width="150px" height="100px">
      </div>
    </div>
    <div class="content-list5">
      <div class="description des-left">
        <img src="./images/baby.png" width="150px" height="100px">
      </div>
      <div class="description des-right des-center">
        <span class="item-description item-des-1">Baby Care</span>
        <span class="item-description item-des-2">Shop online for Baby Products,Diapers,Skin Care Products,etc.</span>
        <span class="item-description item-des-3">Explore baby</span>
      </div>
    </div>
  </div>
</div> --}}




{{!-- using flex box --}}
<div class="row">
  <div class="content-container">
    <div class="content-list1">
      <div class="description des-left">
        <img src="./images/fruits.png" width="150px" height="100px">
      </div>
      <div class="description des-right">
        <span class="item-description item-des-1">Fruits & Vegetables</span>
        <span class="item-description item-des-2">A variety of fresh fruits and vegetables.</span>
        <span class="item-description item-des-3">Explore fruit-and-veg</span>
      </div>
    </div>
    <div class="content-list2">
      <div class="description des-left">
        <span class="item-description item-des-1">Bakery Cakes and Dairy</span>
        <span class="item-description item-des-2">The best cupcakes,cookies,cakes,pies,cheesecakes,fresh
          bread,biscotti,muffins,bagels,fresh coffee,milk and more.</span>
        <span class="item-description item-des-3">Explore bakery-cakes-dairy</span>
      </div>
      <div class="description des-right">
        <img src="./images/bakery.png" width="150px" height="100px">
      </div>
    </div>
    <div class="content-list3">
      <div class="description des-left">
        <img src="./images/beverages.png" width="150px" height="100px">
      </div>
      <div class="description des-right">
        <span class="item-description item-des-1">Beverages</span>
        <span class="item-description item-des-2">Our beverages department will ensure your fridge is always fully
          stocked.Shop for sada,juice,beer and more.</span>
        <span class="item-description item-des-3">Explore beverages</span>
      </div>
    </div>
    <div class="content-list4">
      <div class="description des-left">
        <span class="item-description item-des-1">Beauty and Hygiene</span>
        <span class="item-description item-des-2">Buy beauty and personal care products online in india best
          prices.</span>
        <span class="item-description item-des-3">Explore beauty-hygiene</span>
      </div>
      <div class="description des-right">
        <img src="./images/beauty.png" width="150px" height="100px">
      </div>
    </div>
    <div class="content-list5">
      <div class="description des-left">
        <img src="./images/baby.png" width="150px" height="100px">
      </div>
      <div class="description des-right">
        <span class="item-description item-des-1">Baby Care</span>
        <span class="item-description item-des-2">Shop online for Baby Products,Diapers,Skin Care Products,etc.</span>
        <span class="item-description item-des-3">Explore baby</span>
      </div>
    </div>
  </div>
</div>

{{> footer}}