<link href="./css/register.css" rel="stylesheet">
{{> header}}
<div class="row">
  <div class="register-container">
    <div class="register-section">
      <div class="register-title">
        <span class="sub-title title1">Signup</span>
        <span class="sub-title title2">We don not share your personal details with anyone.</span>
      </div>

      <form class="register-form">
        <div class="form-details">
          <label class="form-label firstname">First Name</label>
          <input class="form-input firstname" type="text" name="email">
        </div>
        <div class="form-details">
          <label class="form-label lastname">Last Name</label>
          <input class="form-input lastname" type="text" name="email">
        </div>
        <div class="form-details">
          <label class="form-label email">Email</label>
          <input class="form-input email" type="email" name="email">
        </div>
        <div class="form-details">
          <label class="form-label password">Password</label>
          <input class="form-input password" type="password" name="password">
        </div>
        <div class="form-details">
          <label class="form-label confirm-password">Confirm Password</label>
          <input class="form-input confirm-password" type="password" name="password">
        </div>
        <div>
          <input class="form-button" type="submit" value="Signup">
        </div>
      </form>
    </div>

  </div>
</div>

{{> footer}}