<link href="../css/signin.css" rel="stylesheet">
{{> header}}
<div class="row">
  <div class="signin-container">
    <div class="signin-section">
      <div class="signin-title">
        <span class="sub-title title1">Login</span>
        <span class="sub-title title2">Get access to your Orders,Wishlist and Recommendations</span>
      </div>

      <form class="signin-form">
        <div class="form-details">
          <label class="form-label label-email">Email</label>
          <input class="form-input form-email" type="text" name="email">
        </div>
        <div class="form-details">
          <label class="form-label label-password">Password</label>
          <input class="form-input form-password" type="password" name="password">
        </div>
        <div>
          <input class="form-button" type="submit" value="Login">
        </div>
      </form>
    </div>

  </div>
</div>

{{> footer}}