.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #dcdcdc;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  max-width: 900px;
}

.itm2 {
  margin-top: 10px;
}

.link {
  font-size: 15px;
  text-decoration: none;
  color: grey;
}

.link1 {
  margin-right: 10px;
}
.link2 {
  margin-left: 10px;
}

@media (min-width: 100px) and (max-width: 768px) {
  .link {
    display: none;
  }
  .sign-register {
    display: none;
  }
}

.itm3 {
  justify-self: end;
  align-self: flex-end;
}

.cart-btn {
  padding: 8px;
  background-color: #f2f2f2;
  border-color: white;
  display: block;
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.cart-icon {
  color: #d00255;
}

.sign-register {
  text-align: right;
  font-size: 8px;
  margin-bottom: 5px;
}

.s-r1 {
  margin-right: 3px;
  text-decoration: none;
  color: black;
}
.s-r2 {
  margin-left: 3px;
  text-decoration: none;
  color: black;
}

#myCart {
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  position: fixed;
  z-index: 3000;
  height: 800px;
  width: 30%;
  border: 1px solid grey;
  background-color: white;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}
