/* ---------using css grid ---------------*/

/* .content-container {
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.content-list1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.content-list2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.content-list3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.content-list4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.content-list5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.description {
  padding: 20px;
}

.item-description {
  display: block;
  text-align: center;
}
.item-des-1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.item-des-2 {
  font-size: 9px;
  margin-bottom: 15px;
}
.item-des-3 {
  display: inline;
  padding: 5px;
  color: white;
  background-color: #d00255;
}

.des-center {
  justify-self: center;
} */

/* ------------using flex box ----------*/

.content-container {
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.content-list1 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.content-list2 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.content-list3 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.content-list4 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.content-list5 {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

.des-left {
  padding: 10px;
  flex: 50%;
}

.des-right {
  padding: 10px;
  flex: 50%;
}

.description {
  padding: 20px;
}

.item-description {
  display: block;
}
.item-des-1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.item-des-2 {
  font-size: 9px;
  margin-bottom: 15px;
}
.item-des-3 {
  display: inline;
  padding: 5px;
  color: white;
  background-color: #d00255;
}
